<!--底部JS引用文件-->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="jsbottom">
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{~/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{~/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{~/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script th:src="@{~/vendor/chart.js/Chart.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{~/js/sb-admin.min.js}"></script>

    <!--常量文件-->
    <script th:src="@{~/js/constant.js}"></script>

    <!--&lt;!&ndash; Demo scripts for this page&ndash;&gt;-->
    <!--<script th:src="@{~/js/demo/chart-area-demo.js}"></script>-->
    <!--<script th:src="@{~/js/demo/chart-bar-demo.js}"></script>-->
    <!--<script th:src="@{~/js/demo/chart-pie-demo.js}"></script>-->
</div>
