<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header('新闻类型管理')">
</head>

<body id="page-top" onload="onload()">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top" th:include="navbar :: navbar">
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" th:include="sidebar :: sidebar">

    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a th:href="@{index.html}">后台管理系统</a>
          </li>
          <li class="breadcrumb-item active">新闻类型管理</li>
        </ol>

        <!-- Page Content -->
        <h1>新闻类型管理</h1>
        <hr>
        <p>您可以在此处管理新闻类型</p>



        <div class="row">
          <div class="col-12">
            <button class="btn btn-success" onclick="jQuery('#addModal').modal('show')">添加新闻类型</button>
            <div class="table-responsive" style="margin-top:1%;">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>新闻类型编号</th>
                  <th>新闻类型名称</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ntype,ntypeStat : ${pageData?.list}">
                  <td th:text="${ntype?.ntypeid}"></td>
                  <td th:text="${ntype?.ntypename}"></td>
                  <td>
                    <button class="btn btn-info" th:onclick="'javascript:getNewstype(\''+${ntype?.ntypeid}+'\');'">修改新闻类型信息</button>
                    <button class="btn btn-danger" th:onclick="'javascript:deleteNewstype(\''+${ntype?.ntypeid}+'\');'">删除</button>
                  </td>
                </tr>
                </tbody>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer" th:include="footer :: footer">
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:include="quit :: quit">

  </div>



  <!--新增Modal-->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModal">添加新闻类型</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addForm" method="post" action="/addNewstype">
            <div class="form-group">
              <label class="col-form-label">新闻类型名称:</label>
              <input name="ntypename" type="text" class="form-control" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="jQuery('#addForm').submit()">保存</button>
        </div>
      </div>
    </div>
  </div>


  <!--修改Modal-->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModal">修改新闻类型</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="updateForm" method="post" action="/updateNewstype">
            <input type="hidden" name="ntypeid">
            <div class="form-group">
              <label class="col-form-label">新闻类型名称:</label>
              <input name="ntypename" type="text" class="form-control" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="jQuery('#updateForm').submit()">保存</button>
        </div>
      </div>
    </div>
  </div>


<div th:include="jsbottom :: jsbottom"></div>
  <script th:inline="javascript">

    jQuery(function(){
      var pagename = "newstype_manage.html";
      jQuery(".nav-link[href='"+pagename+"']").parent().addClass("active");

    })


    function onload()
    {
      var code = [[${message?.code}]];
      var msg = [[${message?.msg}]];
      if(code == 200 || code == 500)
      {
        alert(msg);
        if(code!==500) {
          window.location.href = "newstype_manage.html";
        }
      }
    }

    function getNewstype(ntypeid)
    {
      jQuery.post(CONSTANT.URL+"/newstype/get/"+ntypeid,"",function(json){
        if(json.code!==500)
        {
          jQuery("#updateForm [name=ntypeid]").val(json.data.ntypeid);
          jQuery("#updateForm [name=ntypename]").val(json.data.ntypename);

          jQuery("#updateModal").modal('show');
        }
        else
        {
          alert(json.msg);
          return false;
        }
      })
    }

    function deleteNewstype(ntypeid)
    {
      var con = confirm("您确定要删除编号为["+ntypeid+"]的新闻类型吗？");
      if(con)
      {
        window.location.href=CONSTANT.URL+"/deleteNewstype?ntypeid="+ntypeid;
      }
    }

  </script>
</body>

</html>
